h1 {
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  background-color: #94b8b8;
  font-family: 'Anton', sans-serif;
  color: peru;
  font-size: 50px;
}

a2, e2, ex2 {
  line-height: 1.6;
  font-family: 'Source Code Pro', monospace;
}

p1 {
  line-height: 1.6;
  font-family: 'Source Code Pro', monospace;
  margin: 0px;
  ;
  padding: 0;
}

.container {

  top: 50px;
  left: 500px;
  width: 600px;
  padding: 30px;
  border: 10px white;
  box-sizingk: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2)
}

.circle {
  width: 200px;
  height: 200px;
  background: url(selfie.jpg);
  background-size: contain;
}

r1 {
  font-family: 'Indie Flower', cursive;
  color: goldenrod;
  text-decoration: ;
  font-size: 30px;
}

a1, e1, ex1 {
  font-weight: 900;
  font-family: 'Bitter', serif;
}

c1 {
  color: gray;
}

  .button {
    border-radius: 10px;
    background-color: #ace600;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
