
h1{
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  background-color:  #94b8b8;
  font-family: 'Anton', sans-serif;
  color: peru;

  font-size: 50px;

}
p1,a2,e2,ex2{
  line-height: 1.6;

  font-family: 'Source Code Pro', monospace;
}



r1{
  font-family: 'Indie Flower', cursive;
  color:goldenrod;
  text-decoration: ;
  font-size: 30px;
}

a1,e1, ex1{
  font-weight: 900;

  font-family: 'Bitter', serif;
}



c1{
  color: gray;
}
